/**
    cards
-----------------------------
    developed by @yasinldev
*/

$card-border-color: #f0f0f0;

$card-size-breakpoints: (
    'fit': fit-content,
    'sm': 300px,
    'default': 400px,
    'lg': 500px,
    'xl': 600px,
    'full': 10  0%,
);

@each $key, $values in $card-size-breakpoints {
    .mai-card-#{$key} {
        position: relative;
        background-color: #FFFAFA;
        width: $values;
        border-radius: calc(map-get($border-radius-breakpoints, 'rounded-1') + 2px);
        padding: $padding-sm;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }
}

.mai-card-group{
    display: inline-flex !important;
    flex-wrap: wrap;

    .mai-card-default, .mai-card-sm, .mai-card-md, .mai-card-lg, .mai-card-xl, .mai-card-full{
        margin: 0.5em;
    }
}

.card-header {
    padding: $padding-xs;
    border-bottom: 1px solid $card-border-color;
}

.card-footer{
    padding: $padding-xs;
    border-top: 1px solid $card-border-color;
}

.card-img{
    object-fit: cover;
}

.card-title{
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    font-family: $font-family-sans-serif;
}

.card-body{
    padding: $padding-xs;
}
