/*
    Statistics
*/


.mai-statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $padding-md;
    border-radius: calc(map-get($border-radius-breakpoints, 'rounded-1') + 2px);
    background-color: $default-light-color;
    transition: all 0.3s ease-in-out;

    .statistics-icon {
        font-size: 2.5rem;
    }

    .statistics-title {
        font-size: $font-size-lg;
        font-weight: $font-weight-bold;
        margin-top: $margin-sm;
    }

    .statistics-value {
        font-size: $font-size-lg;
        font-weight: $font-weight-bold;
        margin-top: $margin-sm;
    }

    .statistics-description {
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
        margin-top: $margin-sm;
    }
}
