/*
    Select
*/

@import './../base/_variables.scss';

.mai-select {
    position: relative;
    display: inline-block;
    height: auto;
    padding: $padding-sm;
    border-radius: calc(map-get($border-radius-breakpoints, 'rounded-1') + 2px);
    font-size: 1rem;
    line-height: 1.5;
    color: $default-dark-color;
    transition: all 0.2s ease-in-out;

    &:hover{
        border: 1px solid $primary-color;
        box-shadow: none;
        transition: all 0.2s ease-in-out;

    }
}

.select-sm{
    padding-top: calc($padding-xs - 7px);
    padding-bottom: calc($padding-xs - 7px) ;
    font-size: $font-size-sm;
}
